# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
docs/output.txt

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

tags
/test_*

# own stuff
info/

# Cython generated C code
*.c
*.cpp

# generated version file
src/mhm_tools/_version.py

# generated docs
docs/source/api/

/docs/build/
*.csv

*.DS_Store

*.zip

.vscode
.ruff_cache
tests/tmp
cov.xml
work/peterca/ecflow_work/gdm_calibration/output/6335671_4000deg/mhm_setup/luse/lc_1990.asc
work/peterca/ecflow_work/gdm_calibration/output/6335671_4000deg/mhm_setup/luse/lc_2000.asc
work/peterca/ecflow_work/gdm_calibration/output/6335671_4000deg/mhm_setup/luse/lc_2006.asc
work/peterca/ecflow_work/gdm_calibration/output/6335671_4000deg/mhm_setup/meteo/header.txt
work/peterca/ecflow_work/gdm_calibration/output/6335671_4000deg/mhm_setup/meteo/pet.nc
work/peterca/ecflow_work/gdm_calibration/output/6335671_4000deg/mhm_setup/meteo/pre.nc
work/peterca/ecflow_work/gdm_calibration/output/6335671_4000deg/mhm_setup/meteo/tavg.nc
work/peterca/ecflow_work/gdm_calibration/output/6335671_4000deg/mhm_setup/meteo/tmax.nc
work/peterca/ecflow_work/gdm_calibration/output/6335671_4000deg/mhm_setup/meteo/tmin.nc
work/peterca/ecflow_work/gdm_calibration/output/6335671_4000deg/mhm_setup/morph/aspect.asc
work/peterca/ecflow_work/gdm_calibration/output/6335671_4000deg/mhm_setup/morph/dem.asc
work/peterca/ecflow_work/gdm_calibration/output/6335671_4000deg/mhm_setup/morph/facc.asc
work/peterca/ecflow_work/gdm_calibration/output/6335671_4000deg/mhm_setup/morph/fdir.asc
work/peterca/ecflow_work/gdm_calibration/output/6335671_4000deg/mhm_setup/morph/geology_class.asc
work/peterca/ecflow_work/gdm_calibration/output/6335671_4000deg/mhm_setup/morph/geology_classdefinition.txt
work/peterca/ecflow_work/gdm_calibration/output/6335671_4000deg/mhm_setup/morph/idgauges.asc
work/peterca/ecflow_work/gdm_calibration/output/6335671_4000deg/mhm_setup/morph/LAI_class.asc
work/peterca/ecflow_work/gdm_calibration/output/6335671_4000deg/mhm_setup/morph/LAI_classdefinition.txt
work/peterca/ecflow_work/gdm_calibration/output/6335671_4000deg/mhm_setup/morph/slope.asc
work/peterca/ecflow_work/gdm_calibration/output/6335671_4000deg/mhm_setup/morph/soil_class.asc
work/peterca/ecflow_work/gdm_calibration/output/6335671_4000deg/mhm_setup/morph/soil_classdefinition.txt
